.BuyCouponItem {
	display: inline-block;
    background-color: 
    #182734;
    margin: 10px;
}



.BuyCouponItem span {
    font-size:25px;
}

.BuyCouponItem .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.BuyCouponItem .price {
    color: grey;
    font-size: 22px;
}

.BuyCouponItem .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: cyan;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.BuyCouponItem .card button:hover {
    opacity: 0.7;
}

.BuyCouponItem h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BuyCouponItem .coupon .link {
    background-color: aqua;
}

.BuyCouponItem .coupon {
    border: 5px dotted #bbb;
    /* Dotted border */
    width: 80%;
    border-radius: 15px;
    /* Rounded border */
    margin: 0 auto;
    /* Center the coupon */
    max-width: 600px;
}