.CompanyCouponItem {
  display: inline-block;
  background-color: #242d36;
  margin: 10px;
  height: 200px;
  width: 200px;

}

.CompanyCouponItem img {
  width: 100%;
}

.CompanyCouponItem .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  overflow: hidden;
  background-color: #1c6e93;
}

.CompanyCouponItem .card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: cyan;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.CompanyCouponItem .card button:hover {
  opacity: 0.7;
}

.CompanyCouponItem h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}